.navbar{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    width: 20vh;
    height: 87vh;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* box-shadow: 5px 5px 5px lightgrey; */
    /* border-right: 1px solid lightgrey; */
}

.navbar-toggle{
    color: black;
    width: 100%;
    height: 80px;
    margin-left: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
.nav-text{
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    margin-top: 20px;
    padding:8px 0px 8px 16px;
    list-style: none;
    height: 80px;
}

.nav-text a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover{
    background-color: green;
}

.nav-menu-items{
    width: 100%;
}

span{
    margin-left: 16px;
}